/* BASIC */
abbr[title], acronym[title]{border-bottom:thin solid;cursor:help;}
body{background:#f7f7f7;font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;color:#333;text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:24px;line-height:30px;}
h2{font-size:20px;line-height:26px;}
h3{font-size:16px;line-height:24px;}
h4{font-size:14px;line-height:20px;}
h5{font-size:14px;line-height:20px;}
h6{font-size:14px;line-height:20px;}
small{font-size:10px;line-height:16px;}
dl{font-size:12px;}
dt{width:120px;font-weight:bold;}
a{color:#047;text-decoration:none;outline:none;}
a:hover{color:#4a630f;text-decoration:none;}
fieldset,img{border:none;}
hr{display:none;}
.clear{clear:both;margin:0;padding:0;}

header {padding-bottom:20px; width: 100%; }

.logo { margin: 0 auto; }

section { padding-top: 20px; }

article { font-size: 1.26em; width: 936px; margin-bottom: 5px;}

footer {text-align:center; color:#666; font-size:0.9em; padding:4px 0px;}

#about { height: 200px; }

#menus {height:31px;margin:0 auto;font-size:14px;text-shadow:0 1px 0 #000;}
#menus a{border:1px solid #555;border-bottom:none;color:#abaaaa;display:block;line-height:30px;background:#333;padding:0 10px;}
#menus ul{list-style:none;margin:0;}
#menus li{float:left;position:relative;margin-right:8px;}
#menus li:hover > a{background:#222;color:#fff;}
#menus ul li.current > a{background:#f7f7f7;color:#333;text-shadow:0 1px 0 #fff;}
#menus ul li.current:hover > a {background:#222;color:#fff;text-shadow:0 1px 0 #000;}
#menus ul li:hover > ul {display:block;}
#menus a{-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;}

#menus .file li { min-width: 32px; top: 5px; }
#menus .file li a { background: transparent; }

nav { margin: 0 auto; background: #454546; clear: both; height: 31px; padding-top: 20px; }

.experience .title, .location, .period { float: left; }
.experience .title { width: 66%; text-align: left; }
.experience .location { width: 34%; text-align: right; }
.experience .period { width: 34%; text-align: right; }
.experience .content { clear: left; }

.formation .title, .location, .period { float: left; }
.formation .title { width: 66%; text-align: left;}
.formation .location { width: 34%; text-align: right; }
.formation .period { width: 34%; text-align: right; }
.formation .content { clear: left; }

.hidden { display: none; }

.resume { font-style: italic; font-size: 1.27em; }

.social { list-style: none; }
.social li { height: 32px; padding-left: 40px; padding-top: 8px; }
.social .facebook { background: no-repeat url(../img/facebook_32.png); }
.social .twitter { background: no-repeat url(../img/twitter_32.png); }
.social .rss { background: no-repeat url(../img/rss_32.png); }
.social .blog { background: no-repeat url(../img/wordpress_32.png); }
.social .googleplus { background: no-repeat url(../img/google_plus_32.png); }
.social .email { background: no-repeat url(../img/email_32.png); }

.file {}
.file li a:hover { background: transparent; }
.file .pdf { background: no-repeat url(../img/fichier-pdf-32.png); }
.file .rtf { background: no-repeat url(../img/fichier-rtf-32.png); }
.file .docx { background: no-repeat url(../img/fichier-word-32.png); }
.file .html { background: no-repeat url(../img/fichier-html-32.png); }

.article_title { height: 17px; border-bottom:1px solid #30DE00;font-size:16px;text-shadow:1px 1px 3px #aaa;margin:0;padding:2px 10px;}
.article_subtitle { border-top:1px solid #ddd;line-height:18px;height:18px;position:relative;color:#999;margin:0 0 18px;padding:2px 10px;overflow:hidden;display:block;background: white;border-bottom:1px solid #ddd; clear: left; }